:root {
    font-family: Geist, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    height: 100%;
    color: #fff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

body {
    display: grid;
    place-items: center;
    /*min-width: 320px;*/
    background-color: #000;
    background-image: url('../eclipse.webp');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
}